<div class="container ">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Game</th>
        <th>Bet Status</th>
      </tr>
    </thead>

    <tbody>
      <% @bets.each do |bet| %>
        <% if bet.user_id == current_user.id || bet.user_two_id == current_user.id %>
            <tr>
              <td><%= link_to bet.game.team_one + ' vs ' + bet.game.team_two, bet_path(bet) %></td>
              <td><%= bet.status %></td>
              <% if bet.status == "start" %>
                  <% if bet.user_id == current_user.id || bet.user_two_id == current_user.id %>
                      <td><%= link_to 'Cancel Game', bet, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                  <% end %>
              <% end %>
            </tr>
        <% end %> 
      <% end %>
    </tbody>
  </table>
</div>

