<div class="container">

<p id="notice"><%= notice %></p>

  <h2>Bets</h2>
  <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#home">My Bets</a></li>
    <li><a data-toggle="tab" href="#menu1">All Bets</a></li>
  </ul>

  <div class="tab-content">
    <div id="home" class="tab-pane fade in active">
      <h3>My Bets</h3>

        <%= render 'my_bets' %>

    </div>
    <div id="menu1" class="tab-pane fade">
      <h3>All Bets</h3>
      
        <%= render 'all_bets' %>
    </div>

  </div>
</div>



