<div class="container">

  <table class="table table-hover">
    <thead>
      <tr>
        <th>No games</th> 
      </tr>
    </thead>

    <tbody>
        <tr>
          <td>Sorry no Games</td>
        </tr>
    </tbody>
  </table>
</div>