<div class="container">

    <div class="row">
        <div class="col-lg-12 text-right">
            <h3>_____________________PROJECT 2</h3>
                <li><STRONG>RUBY ON RAILS</STRONG></li>
                <li><STRONG>BETTING PAGE</STRONG></li>
            </ul>
        </div>
    </div>
</div>