
<div class="container">
    <div class="row">
        <div class="col-xs-4 text-left" >
            <h4> &nbsp </h4>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-4 text-left" >
            <ul class="list-unstyled">
                <li><STRONG>CARRIERWAVE => UPLOAD IMAGES</STRONG></li>
                <li><STRONG>DEVISE => AUTHENTICATION</STRONG></li> 
                <li><STRONG>DEVISE => ADMIN</STRONG></li><br>
                <li><STRONG>BOWER TO INSTALL BOOTSTRAP</li></STRONG><br>
                <li><STRONG>ACTION MAILER</li></STRONG>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-4 text-left" >
            <h4> &nbsp </h4>
        </div>
    </div>
</div>
