<div class="container">
    <div class="row">
        <div class="col-lg-12 text-centre">
            <h3></h3>
            <ul class="list-unstyled">
                <li><STRONG>CLEAN UP MY CODE</STRONG></li>
                <li><STRONG>FIND SOME API FOR GAMES AND RESULTS</STRONG></li> 
                <li><STRONG>USE TIMERS</STRONG></li> 
                <li><STRONG>AUTO UPDATE GAME RESULTS</STRONG></li>
                <li><STRONG>PAYMENT SYSTEM</li></STRONG>
                <li><STRONG>SELL THE APP</li></STRONG>
                <br>
                <li><STRONG>I AM DONE WITH FOOTBALL PROJECTS</li></STRONG>
                <br><br>
                <li><STRONG>THANKS TO:</li></STRONG>
                <li><STRONG>STEVE AND RANE FOR ALL THE HELPS</li></STRONG>
            </ul>
        </div>
    </div>
</div>
