<div class="container body">

    <div class="row">
        <div class="col-lg-12 text-right">
            <h3>_____________________HOW IT WORKS</h3>

            <ul class="list-unstyled">
                <li><STRONG>YOU NEED TO REGISTER OR LOGIN</STRONG></li>
                <li><STRONG>YOU WILL START WITH 100 TOKENS</STRONG></li>
                <li><STRONG>THE WEBSIDE ADMIN WILL CREATE GAMES</STRONG></li>
                <li><STRONG>THE WEBSIDE ADMIN WILL CREATE GAMES</STRONG></li>
                <li><STRONG>YOU CAN START A BET BY SELECTING A TEAM AT GAMES</STRONG></li>
                <li><STRONG>OR YOU CAN JOIN A BET SOMEONE ELSE CREATED</STRONG></li>
                <li><STRONG>WHEN THE GAME IS FINISHED THE ADMIN WILL UPDATE IT</STRONG></li>
                <li><STRONG>AND IF YOU WON THE BET YOU WILL BE CREDITED</li>
            </ul>
        </div>
    </div>
    <!-- /.row -->

</div>