<div class="container body">

    <div class="row">
        <div class="col-lg-12 text-center">
            <h3>GA WDI Project 2</h3>
            <p class="lead"> This is my second project for this course</p>
            <ul class="list-unstyled">
                <li>updating ...</li>
                <li>updating ...</li>
                <li>updating ...</li>
            </ul>
        </div>
    </div>
    <!-- /.row -->

</div>