<div class="container body">
    <div class="row">
        <div class="col-md-5  toppad  pull-right col-md-offset-3 ">

            <p class=" text-info">&nbsp</p>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad" >

            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">Mishal</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-3 col-lg-3 " align="center"> <img alt="User Pic" src="/assets/me.jpg" class="img-circle img-responsive"> </div>
                        <div class=" col-md-9 col-lg-9 "> 
                            <table class="table table-user-information">
                                <tbody>
                                    <tr>
                                    <td>Email</td>
                                        <td>mishalmsb@gmail.com</td>
                                    </tr>
                                    <tr>
                                        <td>Studant</td>
                                        <td>General Assemby London</td>
                                    </tr>
                                    <tr>
                                        <td>Course</td>
                                        <td>Web Developer Immersive</td>
                                    </tr>

                                    <tr>
                                        <tr>
                                            <td>Blah</td>
                                            <td>Blah</td>
                                        </tr>
                                        <tr>
                                            <td>Blah</td>
                                            <td>Blah</td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td><a href="mailto:mishalmsb@gmail.com">Email Me</a></td>
                                        </tr>
                                        <td>Phone Number</td>
                                        <td>000-0000-0000(Mobile)</td>
                                        <br><br>

                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    </span>
                </div>

            </div>
        </div>
    </div>
</div>
